@section Style{
    <link rel="stylesheet" href="~/css/home.css">
}

@section Script{
    <script src="~/js/Home.js"></script>
}

<div class="selection">
    <div class="selection-item shop">
        <div class="slide hide">some text</div>
        <span class="text">
            Shop
        </span>
    </div>
    <div class="selection-item food">
        <div class="slide hide">some text </div>
        <span class="text name">
            Food
        </span>
    </div>
</div>